

*{
    font-family: "Nanum Myeongjo", monospace;
    text-align: center;
}
html{    
    background-color: aliceblue;
}
body{
    width: 640px;
    margin: auto;
}

h1{
    font-size: 48px;
}
img{
    width: 200px;
    border-radius: 50px;
}
